<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
	RewriteRule ([a-zA-Z0-9-_]+)/^([0-9-_]+)/?$ index.php?var1=$1[NC,L]
</IfModule>